# {{ ansible_managed }}
# {{ strongswan_swanctl_config_file }} - StrongSwan swanctl configuration file


{{ item.connection | to_nice_json | replace(':', ' =') | replace('"', '') | replace('= {', '{') | regex_replace('^{', '') | regex_replace('}$', '') |  regex_replace(',\n', '\n') | regex_replace(',', '') }}
